.app-layout {
  --pf-c-page__main--ZIndex: 0;
}

.banner {
  background: rgba(120, 200, 250, 0.1) 0% 0% no-repeat padding-box !important;
  border-radius: 8px;
}

.footer {
  background: rgba(120, 200, 250, 0.1) 0% 0% no-repeat padding-box !important;
  border-radius: 8px;
  position: relative;
  top: 1rem;
}
