.voteButton {
    padding: 2px 8px !important;
    --pf-c-button--after--BorderRadius: 8px;
}

.truncatedTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
}
