@import '@patternfly/react-styles/css/utilities/Spacing/spacing.css',
  '@patternfly/react-styles/css/utilities/Text/text.css',
  '@patternfly/react-styles/css/utilities/Alignment/alignment.css',
  '@patternfly/react-styles/css/utilities/Sizing/sizing.css';

html,
body,
#root {
  width: 100%;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: unset;
}

.pf-c-page__main {
  overflow: unset;
}

.pf-c-button.pf-m-primary {
  --pf-c-button--m-primary--BackgroundColor: #61bffa;
  padding: 12px 16px;
}

.pf-c-button.pf-m-secondary {
  --pf-c-button--after--BorderColor: #61bffa;
  --pf-c-button--m-secondary--Color: #61bffa;
}

.pf-c-button.pf-m-link {
  --pf-c-button--m-link--Color: 'unset';
}

.pf-c-tabs__item.pf-m-current button span {
  font-weight: 600;
}

.pf-c-page {
  --pf-c-page--BackgroundColor: #fff;
}

.pf-c-tabs__item.pf-m-current {
  --pf-c-tabs__link--after--BorderColor: rgba(120, 200, 250);
  --pf-c-tabs__link--Color: #000000;
}

.pf-c-tabs {
  --pf-c-tabs--before--BorderBottomWidth: 0;
  &__link:hover {
    --pf-c-tabs--before--BorderBottomWidth: 0;
  }

  &:hover {
    --pf-c-tabs--before--BorderBottomWidth: 0;
  }
}

.pf-c-chip {
  --pf-c-chip--BackgroundColor: #eeeeee;
  --pf-c-chip--BorderRadius: 16px;
  padding: 4px 12px;
}

.rounded {
  border-radius: 8px;
}
